@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Outfit";
}

:root{
  --main-color: white;
  --primary-color: #101010;
  --text-color: black;
  --link-color: crimson;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: #080808;
}

.Header{
  position: fixed;
  width: 100%;
  z-index: 5;
}

.top_header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--main-color);
  border-bottom: 1px solid;
}

.copy{
  text-decoration: underline;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Help{
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: right;
  font-size: 1.4rem;
}

.Help p{
  font-weight: 700;
}


.auth{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 10px;
}

.auth hr{
  width: 2px;
  height: 3vh;
  background-color: rgb(240, 240, 240);
}

.auth p{
  cursor: pointer;
}

.profile{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img{
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown{
  position: absolute;
  top: 40%;
  right: 0;
  padding: 1rem;
  background-color: white;
  width: 10%;
  height: fit-content;
  transition: 0.5s ease-in-out;
}

.drop-items{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.drop-items button{
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  outline: none;
  cursor: pointer;
}

.drop-items button:hover{
  font-weight: 700;
  transition: 0.4s ease-in-out;
}

.Navbar{
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 2rem 2.5%;
}

.Herosection{
  min-height: 80vh;
  padding: 12rem 0% 10rem;
}

.navlinks{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 1.5rem;
}

.navlinks a{
  color: white; 
}

.navlinks a.active p{
  color: var(--link-color);
}


.navlinks a hr{
  transition:  0.4s ease-in-out;
  width: 100%;
  background-color: rgb(255, 0, 0);
  height: 0.15vh;
  margin-top: 0.25rem;
  display: none;
}

.logo{
  cursor: pointer;
  width: 50px;
}


.find{
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5rem;
}

.search{
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-bottom: 1.5px solid white;
  font-size: 1rem;
}

.search input{
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
  color: white;
  width: 170px;
}

.search input::placeholder{
  font-size: 1.5rem;
}

.search img{
  width: 20px;
}

.like_cart{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.like_cart img{
  width: 20px;
  cursor: pointer;
}

.menu_icon{
  display: none;
}

.menu-dropdown{
  display: none;
}

/* hero section */

.heroImg{
  width: 100%;
}

.Title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  gap: 1.5rem;
}

.Title .item1{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.Shop{
  width: 220px;
  height: 4.5vh;
  font-size: 1.3rem;
  font-weight:500;
  border-radius: 2px;
  border: none;
  background-color: #0c0c0c;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.Title h5{
  font-size: 2rem;
  font-weight: 400;
}

.Title h1{
  font-size: 5.5rem;
  font-family: 'BEBAS NEUE';
}

.Title p{
  font-size: 1.5rem;
  font-family: 'BEBAS NEUE';
}

.Shop:hover{
  background-color: rgb(85, 85, 85);
  transition: 0.4s ease-in-out;
}

/* new_arrivals */
.NEW , .OUT , .Athletes{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 5% 5rem;
}

.new_title{
  font-size: 3rem;
  font-weight: 700;
  font-family: 'BEBAS NEUE';
}

.new_arrivals{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  align-items: center;
  justify-content: center;
}

.arrivals{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.arrivals h5{
  font-size: 1.5rem;
  font-weight: 500;
  color: grey;
  cursor: pointer;
}

.arrivals hr{
  width: 100%;
  height: 0.2vh;
  background-color: black;
  margin-top: 5px;
}

.arrivals img{
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrivals img:hover{
  transform: scale(1.05);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

/* outer wear */

.outwear-container{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.outerwear_products{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.text{
  font-size: 1.5rem;
}

.text p:nth-of-type(1){
  font-weight: 600;
  color: grey;
  margin-bottom: 10px;
}

.outerwear-items{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  color: var(--text-color);
}

.outerwear-items img{
  width: 250px;
}

.product-info{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.product-info p{
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(53, 53, 53);
}

.new-hot img{
  width: 20px;
}
.new-hot{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.new-hot p{
  font-weight: 500;
  font-size: 1.25rem;
}

/* Athlete section */

.Athletes{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 2.5% 5rem;
}

.Players_info{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8rem 8%;
}
