@media (max-width: 764px) {
  .menu_icon {
    display: block;
  }
  .top_header {
    display: none;
  }
  .navlinks {
    display: none;
  }
  .menulinks {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
  }

  .menulinks a{
    width: fit-content;
  }
  .dropdown{
    top: 83%;
    left: 25%;
    width: 75%;
    background-color: rgb(52, 52, 52);
  }
  .drop-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .auth{
    color: white;
    font-size: 1.5rem;
  }

  .drop-items button{
    color: rgb(255, 255, 255);
  }
  .menulinks a{
    color: white;
  }

  .menulinks a.active p{
    color: crimson;
  }

  .Navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
  }
  .find {
    display: none;
  }
  .menu-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.921);
    backdrop-filter: blur(10px);
    padding: 2rem;
  }
  .Herosection{
    padding: 6rem 0% 0rem;
    min-height: fit-content;
  }
  .new_arrivals{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 5%;
  }

  .arrivals img{
    width: 100%;
  }

  .outerwear_products{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    padding: 0 5%;
  }

  .outerwear-items img{
    width: 100%;
  }

  .new-hot img{
    width: 20px;
  }

  
.Players_info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8rem 8%;
    gap: 2rem;
  }
  .Footer{
    padding: 5rem 2%;
  }
  .footer-container{
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .stay-in-loop{
    width: 50%;
    font-size: 1rem;
  }

  .stay-in-loop button {
    padding: 1rem;
  }
  .footer-item2 ul {
    grid-template-columns: 1fr 1fr;
  }

  .Title h1{
    font-size: 3rem;
  }

  .Title p{
    width: 80%;
  }

  .Categories{
    padding: 10rem 5% ;
    grid-template-columns: 1fr;
  }
  .Products{
    grid-template-columns: 1fr 1fr;
  }
  .profile-container{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    gap: 5rem;
  }
  .Login{
    width: 75%;
  }
}
