.hero{
    min-height: fit-content;
    padding: 15rem 0 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    img{
        width: 100%;
    }
   .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    h5{
        font-size: 2rem;
        font-weight: 300;
    }
    
   } 
}