.header {
    @include header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user{
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
            align-items: center;
            gap: 5rem;

            a {
                font-size: 1.5rem;
                color: white;
                text-decoration: none;
                position: relative;

                &.active p {
                    color: #e41f28;
                }

                p {
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: grey;
                    }
                }

                &:hover {
                    color: gray;
                }
            }

        }
        .search-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            transform: translateX(100%);
            .search-icon{
                display: none;
            }
            .search {
                display: flex;
                align-items: center;
                padding: 0.5rem 0;
                border-bottom: 2px solid white;
    
                input {
                    background: transparent;
                    color: white;
                }
    
                img {
                    cursor: pointer;
                }
            }
        }
    }
    .cart{
        width: fit-content;
        .Cart-link{
            position: relative;
            p{
                position: absolute;
                right: -5px;
                bottom: -5px;
                width: 2rem;
                height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                line-height: 1rem;
                background-color: rgb(0, 0, 0);
                border: 2px solid rgb(255, 255, 255);
                color: rgb(255, 255, 255);
                border-radius: 100%;
                font-size: 1.2rem;
            }
        }
    }
}